.contact-wrapper
  margin-left: 2rem
  margin-right: 2rem
  margin-top: 1rem

  display: flex
  flex-direction: column
  gap: 1rem

@media screen and (max-width: 850px)
  .contact-wrapper
    margin-left: 0.5rem
    margin-right: 0.5rem
    margin-top: 0.5rem

@media screen and (max-width: 380px)
  .contact-wrapper
    margin-left: 0
    margin-right: 0