@use "@/common/styles/colors" as *

.home-page
  margin-top: 5rem
  display: flex
  justify-content: center
  align-items: center

.orbit-container
  position: fixed
  left: 0
  right: 0
  display: flex
  justify-content: center
  .orbit-ring
    border: 2px solid $stroke
    border-radius: 100%
    position: relative
  .orbit-ring-outer
    width: 60rem
    height: 60rem
    .planet
      width: 6rem
      height: 6rem
      margin: -3rem
  .orbit-ring-inner
    display: flex
    align-items: center
    justify-content: center
    bottom: 0
    width: 90rem
    height: 90rem
    
    .planet
      width: 7rem
      height: 7rem
      margin: -3.5rem