@use "@/common/styles/colors" as *

.home-page
  margin-top: 5rem
  display: flex
  justify-content: center
  align-items: center
  h1
    font-size: 3rem
    width: 40rem
    text-align: center

    span
      color: $primary

.orbit-container
  position: fixed
  left: 0
  right: 0
  display: flex
  justify-content: center
  bottom: -60rem

  .orbit-ring
    border: 2px solid $stroke
    border-radius: 100%
    position: relative

  .orbit-ring-outer
    width: 60rem
    height: 60rem
    position: relative

    .planet
      position: absolute
      width: 2rem
      height: 2rem
      background-color: $primary
      border-radius: 50%
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      margin: -1rem
      transition: transform 0.05s linear

  .orbit-ring-inner
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    bottom: 0
    width: 90rem
    height: 90rem

    .planet
      position: absolute
      width: 2.5rem
      height: 2.5rem
      background-color: $primary
      border-radius: 50%
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      margin: -1.25rem
      transition: transform 0.05s linear