@use "@/common/styles/colors" as *

.imprint-page
  display: flex
  flex: 1
  justify-content: space-between
  margin-bottom: 10rem
  align-items: center
  padding: 0 8rem

  .imprint-info
    width: 22rem

    h1
      font-size: 2.5rem

    p
      color: $text-light
      font-size: 1.5rem
      font-weight: 500
      margin: 0

    .legal-notice
      font-size: 1.2rem

  img
    width: 30rem