@import "@/common/styles/colors"

.imprint-wrapper
  margin-left: 1rem
  margin-right: 10vw

  h2
    font-size: 32pt
    font-weight: 900
    margin: 0
    color: $primary
  p
    font-size: 18pt
    font-weight: 700
    color: $gray
  a
    font-size: 18pt
    color: $primary
    text-decoration: none
    font-weight: 500