@import "@/common/styles/colors"

.privacy-wrapper
  margin-left: 1rem
  margin-right: 10vw

  h2
    font-size: 32pt
    font-weight: 900
    margin: 0
    color: $primary
  h3
    font-size: 26pt
    margin: 0.5rem 0
    font-weight: 700
    color: $white
  h4
    font-size: 18pt
    margin: 0
    font-weight: 700
    color: $white
  p
    font-size: 14pt
    font-weight: 700
    color: $gray
  li
    font-size: 14pt
    font-weight: 700
    color: $gray
  a
    font-size: 14pt
    color: $primary
    text-decoration: none
    font-weight: 500